stages:
  - deploy

deploy:
  stage: deploy
  image: ubuntu
  before_script:
    - 'command -v ssh-agent >/dev/null || ( apt-get update -y && apt-get install openssh-client wget gnupg -y )'
    - wget -qO- https://get.docker.com/gpg | apt-key add -
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - touch ~/.ssh/known_hosts
    # GitLab's SSH-Schl端ssel hinzuf端gen
    - ssh-keyscan -H gitlab.com >> ~/.ssh/known_hosts
    # Den Zielserver (DEPLOY_SERVER_IP) zu known_hosts hinzuf端gen
    - ssh-keyscan -H "$DEPLOY_SERVER_IP" >> ~/.ssh/known_hosts
    - chmod 600 ~/.ssh/known_hosts
  script:
    # Verbindung herstellen und die Docker-Befehle auf dem Server ausf端hren
    - ssh -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_SERVER_IP "cd /var/www/echtzeitvisualisierung-von-gebaeudeindustriedaten && git remote set-url origin git@gitlab.com:lukasmetzler/echtzeitvisualisierung-von-gebaeudeindustriedaten.git && git pull origin main && docker-compose down && docker-compose up -d --build"
  only:
    - main
