stages:
  - deploy

deploy:
  image: ubuntu:latest
  stage: deploy
  only:
    - main
  before_script:
    - apt-get -yq update
    - apt-get -yqq install ssh curl  # Installiere SSH und curl
    # Installiere den SSH-Schlüssel direkt
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H gitlab.com >> ~/.ssh/known_hosts
    - ssh-keyscan -H $DEPLOY_SERVER_IP >> ~/.ssh/known_hosts
  script:
    - ssh -t -o StrictHostKeyChecking=no $DEPLOY_USER@$DEPLOY_SERVER_IP "
        # Überprüfe, ob das Arbeitsverzeichnis existiert
        if [ -d $WORK_DIR ]; then
          # Wechsle ins Arbeitsverzeichnis und führe Git-Pull und Docker-Compose-Befehle aus
          cd $WORK_DIR &&
          sudo git pull &&
          docker-compose up -d
        else
          echo 'Directory $WORK_DIR does not exist!' >&2
          exit 1
        fi
      "
  after_script:
    - rm -rf ~/.ssh
